body{
    background-color: #add8e6;
    text-align: center;
    overflow-block: hidden;

}
.titulo-do-game{
    font-family: 'Fredoka One', cursive;
    position: absolute;
    background-image: url(/paredemadeira.jpeg);
    color: rgb(66, 28, 13);
    border: 2px dashed rgb(27, 25, 25);
    border-radius: 10px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 95px;
    font-size: 25px;

}
.winnerMsg{
    font-family: 'Fredoka One', cursive;
    background-color: green;
    margin-top: 5px;
    background-image: url(/paredemadeira.jpeg);
    color: rgb(236, 229, 226);
    border: 2px dashed rgb(27, 25, 25);
    border-radius: 10px;
    padding: 10px;
    font-size: 25px; 
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.caixa{
    width: 30%;
    height: 250px;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    
}
.caixa::after{
    position: absolute;
    content: '';
    z-index: 0;
    height: 110px;
    width: 5px;
    background-color: rgb(26, 25, 25);
    border-radius: 2px;
}

p{
    font-family:'Fredoka One', cursive;
    font-size: 30px;
    margin-top: 5px;
    color: rgb(46, 45, 45);
    border: 3px ridge black;
    width: 100px;
    background-color: whitesmoke;
    
}
.movimento{
    font-family:'Fredoka One', cursive;
    font-size: 20px;
    text-align: center;
    width: 200px;
    margin-top: 15px;
    background-color: whitesmoke;
}
.discos{
    background-image: url(/paredemadeira.jpeg);
    border: 1px solid rgb(77, 74, 74);
    border-radius: 5px;
    background-color: rgb(21, 77, 29);
    margin-bottom: 2px;
    z-index: 1;
    height:20px;
}
.parede-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/pedrasCinza.jpg);
    border: 2px solid rgb(19, 19, 24);
    border-radius: 9px;
    width: 414px;
    height: 450px;
}
/* classes novas dos discos*/
.disco-clicado {
    transform: translateY(-80px);
    border: 2px dashed rgb(29, 27, 27);
    cursor: pointer;
}
/* botao */
button {
    position: relative;
    border: none;
    margin-top: 25px;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    user-select: none;
    touch-action: manipulation;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
}
.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border: 2px dashed rgb(31, 29, 29);
    border-radius: 12px;
    font-size: 1.1rem;
    color: rgb(66, 28, 13);
    background-image: url(/paredemadeira.jpeg);
    transform: translateY(-4px);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform;
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);

}

@media screen and (min-width: 550px) {
    .parede-game{
        width: 550px;
    }
    .titulo-do-game{
        margin-left: 140px;
    }
    .caixa{
        width: 30%;
        
    }

}
@media screen and (min-width: 634px) {
    .parede-game{
        width: 750px;
    }
    .titulo-do-game{
        margin-left: 200px;
    }
}
@media screen and (min-width: 634px) {
    .parede-game{
        width: 750px;
    }
    .titulo-do-game{
        margin-left: 200px;
    }
}
@media screen and (min-width: 774px) {
    .parede-game{
        width: 790px;
    }
    .titulo-do-game{
        margin-left: 250px;
    }
}

@media screen and (min-width: 800px) {
    .parede-game{
        width: 800px;
    }
    .titulo-do-game{
        margin-left: 280px;
    }
}
@media screen and (min-width: 950px) {
    .parede-game{
        margin: auto;
        width: 800px;
    }
    
    .titulo-do-game{
        width: 35%;
        
    }
    .container{
        margin: auto;
        width: 800px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1280px) {
    .parede-game{
        margin: auto;
        width: 800px;
    }
    
    .titulo-do-game{
        width: 70%;
        
    }
    .container{
        margin: auto;
        width: 800px;
        display: flex;
        justify-content: center;
    }
}